@{
    ViewBag.Title = "TDMU - Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width: 350px; max-width: 100%" class="bg-white mx-auto border rounded">
    <div class="border-bottom" style="height: 130px">
        <center class="mt-5 pb-5">
            <img src="/Images/tdmu-logo.png" width="80" height="80" class="mb-2"><br />
            <img src="/Images/no-avatar.png" width="80" height="80" class="bg-white rounded-circle" />
        </center>
    </div>
    <form id="frmLogin" class="mx-5 mt-3">
        <div class="mb-3">
            <label class="form-label mt-5">Tài khoản</label>
            <input type="text" class="form-control" id="txtUsername" name="txtUsername" placeholder="Mã sinh viên">
        </div>
        <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="********">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="ckbRemember">
            <label class="form-check-label" for="ckbRemember">Nhớ tài khoản</label>
        </div>
    </form>
    <div class="mx-5 mb-4">
        <div class="d-grid">
            <button id="btnLogin" class="btn btn-primary mb-3">Đăng nhập</button>
        </div>
        <center><a href="/Remember">Quên mật khẩu?</a></center>
    </div>
</div>

