<footer class="mt-5 bg-dark text-white p-5">
    <div class="row">
        <div class="col-3">
            <h6 class="mb-4">LIÊN KẾT</h6>
            <div class="mb-3">
                <a href="/" class="text-white">Trang chủ</a>
            </div>
            <div class="mb-3">
                <a href="@Url.Action("Introduce","Home")" class="text-white">Giới thiệu</a>
            </div>
            <div class="mb-3">
                <a href="@Url.Action("Contact","Home")" class="text-white">Liên hệ</a>
            </div>
        </div>
        <div class="col-9">
            <h6 class="mb-4">LIÊN HỆ</h6>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span class="text">06 Trần Văn Ơn, Phú Hòa, Thủ Dầu Một, Bình Dương</span>
                    </div>
                    <div class="mb-3">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="text">thongtindientu@tdmu.edu.vn</span>
                    </div>
                    <div class="mb-3">
                        <span class="icon">
                            <i class="fas fa-phone"></i>
                        </span>
                        <span class="text"> (0274)-3-822518 bấm 3 bấm 121</span>
                    </div>
                    <div class="mb-3">
                        <span class="icon">
                            <i class="fas fa-globe-asia"></i>
                        </span>
                        <a href="/" class="text-white">https://vhthuvien.somee.com</a>
                    </div>
                </div>
                <div class="col">
                    <h6 class="mb-4">THỜI GIAN LÀM VIỆC</h6>
                    <div class="mb-3">
                        <span class="icon">
                            <i class="fas fa-clock"></i>
                        </span>
                        <span class="fw-bold">Thứ 2 - thứ 6: </span>
                        <span class="text">7:00 AM - 5:00 PM</span>
                    </div>
                    <div class="mb-3">
                        <span class="icon">
                            <i class="fas fa-ban"></i>
                        </span>
                        <span class="fw-bold">Thứ 7 - chủ nhật: </span>
                        <span class="text">nghỉ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        &copy; Designed by HungITM
    </div>
</footer>